//colors!
$white: #FFFFFF;
$dark-blue: #25365d;
$gray-blue: #7e96b7;
$gray: #f7f9fb;
$pink: #ff2868;
$light-blue: #7f97be;
//fonts!
$main-font: "Open Sans", sans-serif;
$aside-font: "Roboto Condensed", sans-serif;
$thin-font: "Roboto", sans-serif;
$title-font: "Raleway", serif;
$sub-title: "Cormorant Garamond", serif;
$condensed-font: "Oswald", sans-serif;





